error-red    = #ff9494
facebook     = #3d5b97
facebook-div = #516fac
green        = #57a639
light-blue   = #4d9dff
light-green  = #bdecb6
red-orange   = #e35b49
twitter      = #00a0d1
twitter-div  = #1caedc

html, body, div, header, footer, article, section, button, input, select, textarea, p, label
  font-family 'Avenir', sans-serif
  font-size 15px
  font-weight 300

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family 'Avenir', sans-serif
  font-weight 300
  margin-top 0

ul, li
  list-style none
  margin 0
  padding 0

input[type="text"], input[type="password"], input[type="email"]
  background-color #efefef
  border 0
  border-radius 2px
  box-sizing border-box
  outline none
  padding 4px 8px

p
  margin 0 0 15px

.hidden
  display none

html, body
  height 100%

body.modal-open
  margin-right 0

#app-container
  min-height 100%

#page-container
  min-height 100%
  height 100%

a, a:hover
  color #aaa
  text-decoration none

h1 a, h2 a, h3 a
  color black

body
  background-color #f5f6f7
  color black

.left
  float left

.right
  float right

[contenteditable="true"]
  outline none
