<div class="container">
  <div class="left">
    <h1 id="logo" class="left"><a href="/">The Tramp Example</a></h1>
  </div>

  <nav id="alt-menu" class="right">
    <a class="block-link" href="#how">
      <span class="title">How</span>
      <span class="label">The Tramp works</span>
    </a>
    <a class="block-link last" href="#discover">
      <span class="title">Learn</span>
      <span class="label">Read the docs</span>
    </a>
  </nav>
</div>
