body > footer
  background-color #222
  box-sizing border-box
  color #fff
  height 500px
  line-height 50px
  margin-top 20px
  text-align left
  width 100%
  z-index 10

  a
    color #fff
    text-decoration none
